<div class="row">
  <div class="col-md-8 my-3">
    <h1>{{ movie?.title }}</h1>
    <div *ngIf="!!movie?.release_date"><i>Released on {{ movie?.release_date | date }}</i></div>
    <div>
      <mat-icon *ngFor="let color of ratingColors" inline [color]="color">star</mat-icon>
      &nbsp;&nbsp;<small *ngIf="!!movie?.vote_count">({{ movie?.vote_count }} voters)</small>
    </div>
    <mat-list>
      <mat-list-item *ngIf="!!movie?.original_title"><b>Original Title:&nbsp;</b>{{ movie?.original_title }}</mat-list-item>
      <mat-list-item *ngIf="!!movie?.genres"><b>Genres:&nbsp;</b>{{ genreNames.join(', ') }}</mat-list-item>
      <mat-list-item *ngIf="!!movie?.spoken_languages"><b>Languages:&nbsp;</b>{{ languageNames.join(', ') }}</mat-list-item>
      <mat-list-item *ngIf="!!movie?.runtime"><b>Runtime:&nbsp;</b>{{ movie?.runtime }}&nbsp;min</mat-list-item>
    </mat-list>
    <br>
    <p>{{ movie?.overview }}</p>
    <br>
    <button mat-raised-button color="primary" type="button" (click)="addFavorite()">
      <mat-icon>add</mat-icon>&nbsp;Add to My Favorites
    </button>
  </div>
  <div class="col-md-4">
    <img [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie?.backdrop_path" [alt]="movie?.original_title">
  </div>
</div>
